@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

body {
  background-color: hsl(233, 47%, 7%);
  height: 100%;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  width: 300px;
  height: 800px;
  background-color: hsl(244, 38%, 16%);
  border-radius: 10px;
  margin: 70px 30px;
  box-shadow: 0 0 10px black;
}
.image_container {
  width: 300px;
  height: auto;
}
.image {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  mix-blend-mode: soft-light;
}
.text-container {
  align-self: center;
  text-align: center;
}
h1,
article {
  font-family: "Inter", sans-serif;
  padding: 0px 15px;
}

h1 {
  padding-top: 10px;
  color: white;
  font-weight: 700;
}
.insights {
  color: hsl(277, 64%, 61%);
}
article {
  color: hsla(0, 0%, 100%, 0.75);
}

.stats_container {
  align-content: center;
  text-align: center;
  display: block;
}

.num1 {
  color: white;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-size: 35px;
  display: block;
  padding-top: 25px;
}

.stats_heading {
  color: hsla(0, 0%, 100%, 0.6);
  font-family: "Lexend Deca", sans-serif;
  text-transform: uppercase;
}

@media only screen and (min-width: 1224px) {
  .card {
    display: flex;
    width: 1040px;
    height: 450px;
    align-self: center;
  }
  .image_container {
    order: 2;
    width: 1040px;
    height: 450px;
    flex-direction: row;
    justify-content: flex-end;
    align-content: flex-end;
  }
  .image {
    width: 100%;
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0px;
  }
  .text-container {
    height: 450px;
    align-self: flex-start;
    text-align: flex-start;
  }
  h1,
  article {
    text-align: left;
    padding-left: 50px;
  }
  h1 {
    padding-top: 40px;
  }
  article {
    padding-top: 5px;
  }

  .stats {
    display: flex;
    justify-content: space-around;
    flex-flow: row;
    margin-top: 300px;
    margin-left: -550px;
    padding-left: 50px;
  }

  .num1 {
    color: white;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    font-size: 22px;
    text-align: left;
  }

  .stats_heading {
    color: hsla(0, 0%, 100%, 0.6);
    font-family: "Lexend Deca", sans-serif;
    text-transform: uppercase;
  }
}
